*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    height: 100vh;            /* Full viewport height */
    background-color: hsl(0, 6%, 7%);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    padding: 20px;
    background: rgba(46, 41, 38, 0.349);
    border-radius: 10px;
    text-align: center;
}
.card img{
    border-radius: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card h2{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.card h5{
    margin-bottom: 8px;
    color: hsl(75, 81%, 65%);
}

.card p{
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap:  10px;
}

.btn{
    color: white;
    text-decoration: none;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

